@import '~@styles/globals.scss';

.c_radio__item{
    margin: 8px 0;
}

.c_radio__item_radio_input{
    position: absolute; // take it out of document flow
    opacity: 0;
    z-index: 10000;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0;
    & + label {
        position: relative;
        padding: 0;
        color: $color-gray;
        // margin-left: 16px;
      }
    & + label:before{
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        border-radius:100%;
        border: 1px solid $color-gray;
        background: white;
    }
    
    &:hover + label:before {
        background:#83cc5e;
    }

    &:checked + label:before {
        background:#83cc5e;
    }

    &:checked + label:after {
        content: '';
        position: absolute;
        left: 6px;
        top: 6px;
        background: white;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        transform: rotate(45deg);
      }
    
}