@import '~@styles/globals.scss';

.c_checkbox{
    margin: 1rem 0;
}


.c_checkbox__input{
    position: absolute;
    opacity: 0;
    z-index: 10000;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0;

    & + .c_checkbox__label {
        position: relative;
        padding: 0;
        color: $color-gray;
        // margin-left: 16px;
      }
    
      & + .c_checkbox__label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        border-radius:5px;
        border: 1px solid $color-gray;
        background: white;
      }
    
      &:hover + .c_checkbox__label:before {
        background:#83cc5e;
      }
      
      &:focus + .c_checkbox__label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
      }
    
      &:checked + .c_checkbox__label:before {
        background:#83cc5e;
      }
      
      &:disabled + .c_checkbox__label {
        color: #b8b8b8;
        cursor: auto;
      }
    
      &:disabled + .c_checkbox__label:before {
        box-shadow: none;
        background: #ddd;
      }
    
      &:checked + .c_checkbox__label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 
          2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
        transform: rotate(45deg);
      }
}

